data/0000
data/0001
# git add -f data/0001/depth_object270.npy data/0001/leftright270.npy data/0001/disparity270.npy data/0001/depth270.npy data/0001/rgb254.npy
data/image
data/video
data/apple_1_1_1.pcd
data/fragment.pcd
data/tabletop_scene.ply

results/(result)20220720_1519_mobilenet.mp4
results/out1.mp4

anomaly_detection.py
calibration.py
depth_400p.py
get_1D-kalman_filter.py
get_edge_detection.py
get_feature_tracking.py
get_feature.py
get_mono.py
get_multi-kalman_filter.py
get_pixel_camera_world_coor_trans.py
get_save_image_from_video.py
host-rgb-depth-sync.py
object_detection.py
step_detection.ipynb


